.elementor-kit-7{--e-global-color-primary:#27BAA6;--e-global-color-secondary:#316962;--e-global-color-text:#114740;--e-global-color-accent:#252A2C;--e-global-color-0ad48f9:#FDD65B;--e-global-color-db351c0:#DD720F;--e-global-color-b1ab02c:#F3F6F6;--e-global-color-ec86730:#FFFFFF;--e-global-color-9d7e2e5:#7A8A8D;--e-global-typography-primary-font-family:"Noto Serif";--e-global-typography-primary-font-size:40px;--e-global-typography-primary-font-weight:900;--e-global-typography-primary-line-height:48px;--e-global-typography-secondary-font-family:"Noto Serif";--e-global-typography-secondary-font-size:32px;--e-global-typography-secondary-font-weight:900;--e-global-typography-secondary-line-height:40px;--e-global-typography-text-font-family:"Noto Serif";--e-global-typography-text-font-size:24px;--e-global-typography-text-font-weight:900;--e-global-typography-text-line-height:32px;--e-global-typography-accent-font-family:"Noto Serif";--e-global-typography-accent-font-size:16px;--e-global-typography-accent-font-weight:bold;--e-global-typography-accent-line-height:24px;--e-global-typography-e523e79-font-family:"Noto Sans";--e-global-typography-e523e79-font-size:16px;--e-global-typography-e523e79-font-weight:normal;--e-global-typography-e523e79-line-height:24px;--e-global-typography-e076bad-font-family:"Noto Sans";--e-global-typography-e076bad-font-size:14px;--e-global-typography-e076bad-line-height:22px;--e-global-typography-41a1488-font-family:"Noto Sans";--e-global-typography-41a1488-font-size:12px;--e-global-typography-41a1488-line-height:16px;color:var( --e-global-color-accent );font-family:"Noto Sans", Sans-serif;font-size:16px;font-weight:300;line-height:24px;background-color:var( --e-global-color-ec86730 );}.elementor-kit-7 p{margin-bottom:16px;}.elementor-kit-7 a{color:var( --e-global-color-primary );}.elementor-kit-7 h1{color:var( --e-global-color-text );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-7 h2{color:var( --e-global-color-text );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );line-height:var( --e-global-typography-secondary-line-height );}.elementor-kit-7 h3{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-7 h4{color:var( --e-global-color-text );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-size:var( --e-global-typography-accent-font-size );font-weight:var( --e-global-typography-accent-font-weight );line-height:var( --e-global-typography-accent-line-height );}.elementor-kit-7 button,.elementor-kit-7 input[type="button"],.elementor-kit-7 input[type="submit"],.elementor-kit-7 .elementor-button{font-family:"Noto Sans", Sans-serif;font-size:14px;font-weight:bold;line-height:22px;color:var( --e-global-color-ec86730 );background-color:#316962;border-radius:4px 4px 4px 4px;padding:12px 18px 12px 18px;}.elementor-kit-7 button:hover,.elementor-kit-7 button:focus,.elementor-kit-7 input[type="button"]:hover,.elementor-kit-7 input[type="button"]:focus,.elementor-kit-7 input[type="submit"]:hover,.elementor-kit-7 input[type="submit"]:focus,.elementor-kit-7 .elementor-button:hover,.elementor-kit-7 .elementor-button:focus{background-color:var( --e-global-color-text );}.elementor-kit-7 label{color:var( --e-global-color-accent );font-family:"Noto Sans", Sans-serif;font-size:10px;font-weight:bold;text-transform:uppercase;}.elementor-kit-7 input:not([type="button"]):not([type="submit"]),.elementor-kit-7 textarea,.elementor-kit-7 .elementor-field-textual{font-family:"Noto Sans", Sans-serif;font-size:14px;line-height:22px;color:#646464;background-color:var( --e-global-color-ec86730 );border-style:solid;border-width:1px 1px 1px 1px;border-color:#E7EDED;border-radius:4px 4px 4px 4px;padding:12px 18px 12px 18px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1200px;}.elementor-widget:not(:last-child){margin-bottom:0px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-7 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-7 h1{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-7 h2{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-kit-7 h3{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-7 h4{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-kit-7 h1{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-7 h2{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-kit-7 h3{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-7 h4{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start custom CSS */strong,
b {
    font-weight: bold;
    font-weight: 900;
}

ol, ul {
    list-style: unset;
    list-style-position: inside;
    margin-top: 8px;
}

li {
    padding-bottom: 8px;
}

h1 i,
h2 i,
h3 i, 
h4 i,
h5 i,
h6 i,
h1 em,
h2 em,
h3 em, 
h4 em,
h5 em,
h6 em{
    font-style: italic;
}

.elementor-widget-text-editor h2,
.elementor-widget-text-editor h3,
.elementor-widget-text-editor h4,
.elementor-widget-text-editor h5, 
.elementor-widget-text-editor h6 {
    margin-top: 8px;
    margin-bottom: 16px;
}

nav.rank-math-breadcrumb p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
}

a#load_more,
input[type="search"]::-webkit-search-cancel-button,
button.elementor-search-form__submit {
    cursor: pointer;
}

.jet-listing-grid__slider .jet-slick-dots {
    display: none!important;
}

.jet-listing-grid__slider-icon {
    border-radius: 100px;
}

.jet-listing-grid__slider .jet-slick-dots li::focus-visible {
    border-radius: 25px;
}

.jet-listing-grid__slider .jet-slick-dots li {
    width: 10px!important;
    height: 8px;
    background: white!important;
    border: 1px solid #27BAA6;
}

.jet-listing-grid__slider .jet-slick-dots li.slick-active {
    width: 8px!important;
    height: 8px;
    background: var( --e-global-color-0ad48f9 )!important;
    border: none!important
}

.jet-select select {
    border: 1px solid #E7EDED;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
}

.jet-select__control {
    max-width: 170px!important;
}

.jet-listing-not-found.jet-listing-grid__items {
    background: #f3f6f6;
    border-radius: 8px;
    padding: 24px;
    margin-top: 32px;
}

li.elementor-sitemap-item {
    padding-bottom: 24px;
}

li.elementor-sitemap-item a:before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(/wp-content/uploads/2021/10/arrow-white.svg) no-repeat center center #27BAA6;
    border-radius: 30px;
    vertical-align: top;
    margin-right: 8px;
}


/* blog */
.category_slide ul {
    text-align: center;
}

.category_slide ul li {
    display: inline-block;
    padding: 8px 8px 0 0;
}

.category_slide ul li a:before {
    display: none;
}

.category_slide li.elementor-sitemap-item:not(:first-child) a:before {
    content: '';
    display: inline-block!important;
    width: 4px;
    height: 4px;
    background: #252a2c;
    vertical-align: middle;
    margin-bottom: 4px;
    border-radius: 8px!important;
}

.bullets ul.jet-slick-dots {
    display: flex!important;
}

/* cookies */
span#cn-notice-text {
    font-size: 14px;
    line-height: 20px;
    font-family: Noto Sans;
}

a#cn-accept-cookie {
    font-size: 14px;
    line-height: 20px;
    padding: 16px 24px!important;
    font-family: Noto Sans;
    font-weight: 600!important;
}

/* single page */
.alignright {
    float: right;
    margin-left: 16px;
    margin-bottom: 16px;
    width: 50%;
}

.alignleft {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 50%;
}

.single-post p img {
    border-radius: 8px;
}


@media (max-width: 1024px) {
    .jet-listing-grid__slider-icon,
    .jet-listing-grid__slider-icon.next-arrow.slick-arrow {
        display: none!important;
    }
}


@media (max-width: 767px) {
    .homepage__banner-section-titles {
        min-height: 390px;
    }

    .jet-listing-grid__slider .jet-slick-dots {
        display: flex!important;
    }
    
    .jet-listing-grid__slider-icon,
    .jet-listing-grid__slider-icon.next-arrow.slick-arrow {
        display: none!important;
    }
    
    .jet-select__control {
        max-width: none!important;
    }
    
    .category_slide {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: 0px;
    }
    
    .category_slide::-webkit-scrollbar {
        display: none;
    }
    
    .category_slide .elementor-widget-container {
        min-width: max-content;
    }
    
    .elementor-2435 .elementor-element.elementor-element-a9de979 h1 {
        text-overflow: initial!important;
        display: block;
        -webkit-line-clamp: 0;
        -webkit-box-orient: horizontal;
    }
}/* End custom CSS */